body{
    background-image: url("jungle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}   
h1{
    color: dodgerblue;
    font-family: "press Start 2P","consolas";
    font-weight: bold;
}
h2{color: white;
    font-family: "press Start 2P","consolas";
    font-size: 18px;

}
th{
    color: white;
    font-family: "press Start 2P","consolas";
    font-size: 12px;
}
td{
    color: white;
    font-family: "press Start 2P","consolas";
    font-size: 12px;
}
label{
    color: white;
    font-family: "press Start 2P","consolas";
    font-size: 12px;
}
